<h1>bienvenido al chat !</h1>
<p id="chatUser">{{user.name}}</p>

<div>
    <ul id="chatMessages">
    </ul>
    <div>
        <input type="text" name="chat" id="chat" />
    </div>
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>