<h1>ingrese su nueva contraseña:</h1>
<h2 id="errorPass"></h2>
<br>
    <input type="password" id="newPass" name="password">
    <button href="/login" onclick="restorePassword('{{this.token}}')" class="btn btn-dark btn-sm">enviar</button>


<script src="/js/user.js"></script>