<h1>ingresar mail para recuperar contraseña:</h1>
<br>
<form action="http://localhost:4040/api/users/sendRecovery" method="POST">
    <input type="text" name="email">
    <button type="submit" class="btn btn-dark btn-sm">Enviar</button>
</form>